
   
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" ng-click="close()" class="close">&times;</button>
          <h4 class="modal-title">Please Confirm</h4>
        </div>
        <div class="modal-body">
          <div class="row text-center">
             Are you sure...
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" ng-click="yes()" class="btn btn-primary">Yes</button>
          <button id="closeBtn" type="button" ng-click="close()" class="btn btn-primary">No</button>
        </div>
      </div>
      
  
  